#root {
  min-width: 1080px;
  max-width: 1500px;
  margin: 0 auto;
  padding: 0rem;
}

body {
  margin: 0;
  display: flex;
  min-width: 320px;
  min-height: 100vh;
}

main{
  text-align: center;
}

section{

}

.sectionHeader{
  color: cyan;
  overflow: hide;
  background-color: #495e6b49;
}

.sectionContent{
  color: white;
  padding-bottom: 10em;
}

.logo {
  height: 6em;
  padding: 1.5em;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #34424bfd);
}

video{
  width: 100%;
  height: 100%;
}

//Navigation Bar
#navBar {
  height: 3em;
  color: white;
  display: flex;
  justify-content: left;
  background-color: #333;

  ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
  }

  li{
    display: inline;
  }

  a {
    padding: 1em 3em 1em 1em;
  }

  a:visited{
    color: inherit;
    text-decoration: none;
  }

  a:hover{
    background-color: red;
  }
}

//Site Links
.siteLinks{
  ul{
    list-style-type: none;

    li{
      padding: 0;
    }
  }

  img {
    height: 6rem;
    width: 6rem;
  }
}