section {
  margin: 10em 0em 10em;
  min-height: 50vh;
}

.pageSection{
  height: 100vh;
}

.headerSection{
  height: 4em;
  background-color: lavender;

  h1{
    margin: 0;
    padding-top: 0.9em;
    text-align: center;
    vertical-align: middle;
  }
}

.tilesContainer{
  display: flex;
  justify-content: center;
  margin-top: 3em;
  padding: 0em 2em 0em;

    .tileContainer{
      text-align: center;
      margin: 0em 1em 0em;
      padding: 1em 1em 1em;
      width: 35em;
      box-shadow: rgba(0, 0, 0, 0.2) 0px 3px 5px -1px, rgba(0, 0, 0, 0.14) 0px 6px 10px 0px, rgba(0, 0, 0, 0.12) 0px 1px 18px 0px;
    }

    .tileImage{
      display: block;
      height: 12em;
      max-width: auto;
      object-fit:contain;
      border-radius: 25px;
      transform: scale(1);
      transition: all .5s ease-in-out;
      margin: 2em auto;
    }

    p{
      padding-left: 3em;
      padding-right: 3em;
    }

    .tileTags{
      padding: 0;
      display: flex;
      align-items: center;
      justify-content: center;

      li{
        margin-left: 0.3em;
        margin-right: 0.3em;
        padding: 0.3em;
        list-style: none;
        float: left;
        border-style: solid;
        border-radius: 10px;
        transform: scale(1);
        transition: all .5s ease-in-out;
      }

      li:hover{
        transform: scale(1.05);
        transition: all .5s ease-in-out;
      }
    }
    
   
    #item1:hover, #item2:hover, #item3:hover{
      transform: scale(1.1);
      transition: all .5s ease-in-out;
    } 

    #item1:hover{
      filter: drop-shadow(0 0 2em #77ebfffd);
      
    }
    #item2:hover{
      filter: drop-shadow(0 0 2em #d7b2db);
    }
    #item3:hover{
      filter: drop-shadow(0 0 2em #a4fda1fd);
    }
  }
  