#thisSideBar{ 
    z-index: 5;
    a{
        position: fixed; /* Position them relative to the browser window */
        left: -150px; /* Position them outside of the screen */
        transition: 0.3s; /* Add transition on hover */
        padding: 15px; /* 15px padding */
        width: 150px; /* Set a specific width */
        text-decoration: none; /* Remove underline */
        font-size: 20px; /* Increase font size */
        color: white; /* White text color */
        border-radius: 0 5px 5px 0; /* Rounded corners on the top right and bottom right side */
        max-height: 20px;
        text-align: left;
    }

    a:hover{
        left: 0; /* On mouse-over, make the elements appear as they should */
    }
}

#home{
    top: 20px;
    background-color: #04AA6D;
}

#unity{
    top: 80px;
    background-color: #2196F3; /* Blue */
}

#webdev{
    top: 140px;
    background-color: #f44336; /* Blue */
}

#threejs{
    top: 200px;
    background-color: pink; /* Blue */
}

#contact{
    top: 260px;
    background-color:  #555; /* Blue */
}
