#root {
  min-width: 1080px;
  max-width: 1500px;
  margin: 0 auto;
  padding: 0rem;
}

body {
  margin: 0;
  min-width: 320px;
  min-height: 100vh;
}

main{
  text-align: center;
}

.pageLoader{
  text-align: center;
}

.sectionHeader{
  color: cyan;
  overflow: hide;
  background-color: #495e6b49;
}

.sectionContent{
  color: white;
  padding-bottom: 10em;
}

.logo {
  height: 6em;
  padding: 1.5em;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #34424bfd);
}

video{
  width: 100%;
  height: 100%;
}

.horizontalList{
  color: white;
  display: flex;
  justify-content: center;
  background-color: #333;
 
  ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
  }

  li{
    padding-left: 3em;
    display: inline;
  }

  img{
    height: 3em;
    width: 3em;
  }
}