#root {
  min-width: 1080px
}

body {
  margin: 0;
  min-width: 320px;
  min-height: 100vh;
}

.headerSection{
  height: 5em;
  
}

h1{
  margin: 0;
  padding-top: 1em;
  text-align: center;
  vertical-align: middle;
}

.contentSection{
  min-height: 40vh;
}

.sectionDivider{
  height: 10vh;
}

//Navigation Bar
#navBar {
  z-index: 100;
  background-color: rgba(230, 230, 250, 0.623);
  overflow: hidden;
  display: flex;
  justify-content: center;
  position: fixed;
  top: 0;
  width: 100%;
  
 button{
  padding: 1em 2em 1em 2em;
  background: none;
  border: none;
  color: rgb(0, 0, 0);
  font-weight: 700;
 }

 button:hover{
  cursor: pointer;
  background-color: rgba(156, 212, 216, 0.623);
 }

 button:active{
  background-color: rgba(112, 174, 185, 0.733);
 }
}


//Footer
#sectionContact{
  background-color: lavender;

  h1{
    transform: translate(10%, 50%)
  }

  #footerLinks{
    height: 12em;
    display: flex;
    justify-content: center;
    align-items: center;


    ul {
      list-style-type: none;
      margin: 0;
      padding: 0;
    }

    li{
      padding-left: 3em;
      display: inline;
    }

    img{
      height: 5em;
      width: 5em;
    }
  }
}

