#root {
  min-width: 1080px
}

body {
  margin: 0;
  min-width: 320px;
  min-height: 100vh;
  background-color: pink;
}

.headerSection{
  background-color: rgba(201, 201, 201, 0.473);
  height: 5em;
  text-align: center;
  background-color: red;
}

.contentSection{
  min-height: 40vh;
  background-color: lightblue;
}

.titleSection{
  .headerImage{
    margin-bottom: -0.5em;
    z-index: -10;
  
    h1{
      font-size: 5em;
    }
  
    h3{
      font-size: 2em;
    }
  
    img, video{
      z-index: -1;
      width: 100%;
      max-height: 60vh;
      margin-left: auto;
      margin-right: auto;
    }
  
    .centeredOverlay{
      position: absolute;
      top: 15%;
      left: 50%;
      transform: translate(-50%, -50%);
    }
  }
}

.tileContainer{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  
  .tileItem{
    max-height: 250px;
    background-color: lightgrey;
  }
 
  #item1:hover{
    filter: drop-shadow(0 0 2em #a1effdfd);
  }
  #item2:hover{
    filter: drop-shadow(0 0 2em #d7b2db);
  }
  #item3:hover{
    filter: drop-shadow(0 0 2em #a4fda1fd);
  }
}

//Navigation Bar
#navBar {
  z-index: 100;
  background-color: rgba(228, 228, 228, 0.801);
  overflow: hidden;
  display: flex;
  justify-content: center;
  position: fixed;
  top: 0;
  width: 100%;
  
 button{
  padding: 1em 2em 1em 2em;
  background: none;
  border: none;
  color: rgb(0, 0, 0);
  font-weight: 700;
 }

 button:hover{
  background-color: rgb(114, 114, 114);
  cursor: pointer;
 }
}

//Footer
#footerSection{
  margin-top: 3em;
  margin-bottom: 3em;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(201, 201, 201, 0.473);

  ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
  }

  li{
    padding-left: 3em;
    display: inline;
  }

  img{
    height: 3em;
    width: 3em;
  }
}